doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body 
        header.header
            h2 BlueCircuit 
            nav.menu 
                ul  
                 li Inicio 
                 li Mediciones 
                 li Dispositivos

        block content 

        footer.footer
            p.text-center Copyright (c) BlueCircuit

        script(src="js/main.js",type="module") 