extends layout.pug 

block content
    main.container
        h1.text-center= title 
        div.index-container
            p Este proyecto tiene como objetivo la integración de un sistema capaz de cumplir con las demandas de una era digital, entre las características destacadas tenemos, diseño electrónico modular,desarrollo de plataforma web para registro y monitoreo de mediciones, uso de protocolos de comunicación e integración de sensores.
            img.index-img(src="/img/img1.png", alt="ESP32" )